header {
    height: 80px;
    width: 100vw;
    background-color: white;
}

.my-name {
    text-align: center;
    font-size: 1.2em;
    height: 25px;
    width: 300px;
    margin: auto;
    padding-top: 25px;
    font-family: 'Lato', sans-serif;
}

.pulldown-icon {
    height: 30px;
    width: 30px;
    float: right;
    margin-right: 20px;
}

.panel1 {
    width: 100vw;
    height: 500px;
    background-color: #3a506B;
    border-style: solid;
}

#runner {
    height: 300px;
    width: 300px;
    margin: 80px auto auto auto;
    display: block;
}

.pulldown-menu{
    display: none;/*means basically remove this from page, make it hidden*/
    background-color: #5BC0BE;
    opacity: 0.75;
    position: absolute;
    top: 90px;
    right: 0px;
    width: 240px;
    height: 200px;
    margin: auto;
}

.pulldown-menu li{
    display: block; /*So li stack on top of each other vertically*/
    color: white;
    opacity: none;
    font-weight: 200;
    text-align: center;
    width: 200px;
    height: 30px;
    margin: auto;
    padding-top: 10px;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
}

.pulldown-icon:hover .pulldown-menu{
    display: block;
}

.pulldown-menu li:hover {
    opacity: 0.5;
}

.panel2 {
    width: 100vw;
    height: 800px;
    background-color: white;
}

#intro-statement {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    height: 250px;
    width: 550px;
    margin: auto;
    padding-top: 25px;
    text-align: center;
}

.two-projects {
    width: 1000px;
    height: 450px;
    margin: auto;
}

.project {
    width: 450px;
    height: 450px;
    float: left;
    margin: 10px 15px 10px 15px;
}

.project .img {
    margin: 0px 0px 0px 0px;
    height: 300px;
    width: 450px;
}
.project #img1{
    background-image: url("atlas-lab.jpg");
}
.project #img2{
    background-image: url("proj2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.project-name {
    text-align: inline;
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 10px;
    margin-right: 10px;
    text-decoration: none;
    float: left;
    font-family: 'Lato', sans-serif;
}

a:hover {
    opacity: 0.5;
}

.project-description {
    font-size: 0.9em;
    line-height: 22px;
    font-family: 'Lato', sans-serif;
    text-align: inline;
    margin-top: 10px;
}



